input {
  background-image: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png);
  background-position: 13px center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid #ccc;

  padding: 5px 5px;
  text-indent: 30px;
  
  width: 120px;
}

@media (max-width: 992px) { 
  .friends {display: none;}
 }

 .wrap {
  flex-wrap: wrap;
}
